# üå§Ô∏è W04 Lab: From NumPy to Pandas

**DS105W W04 LAB ‚Äì Data for Data Science (Winter Term 2025/2026)**

<div style="font-family: system-ui; padding: 20px 30px 20px 20px; background-color: #FFFFFF; border-left: 8px solid #ED9255; border-radius: 8px; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);max-width:600px;color:#212121;">

**Lab Practice Notebook**

- üìÖ Date: 13 February 2026
- üë§ Name: [Your name] (üßë‚Äç‚úàÔ∏è Pilot)
- üë§ Name: [Your partner's name] (üôã Copilot)
- üéØ Purpose: Compare NumPy and Pandas approaches to complex data classification

<span style="display:block;line-height:1.15em;color:#666666;font-size:0.9em;">

ü•Ö **Learning Goals**

 i) Experience the limitations of nested `np.where()` operations,
 ii) Use Pandas vectorised boolean operations for complex logic,
 iii) Chain multiple conditions with `&` and `|` operators,
 iv) Apply conditional logic to create new DataFrame columns efficiently.

</span>

</div>

## üìã Before You Start

Make sure you have:
- ‚úÖ Completed the üìù **W04 Practice** (or most of it!)
- ‚úÖ Attended yesterday's üñ•Ô∏è **W04 Lecture** on vectorisation
- ‚úÖ Found a partner for pair programming today

**Pair Programming Roles:**
- üßë‚Äç‚úàÔ∏è **Pilot**: The person typing the code
- üôã **Copilot**: The person guiding and checking the code

You'll swap roles between Part I and Part II!

## ‚öôÔ∏è Library Imports

In [2]:
import json
import numpy as np
import pandas as pd

print("‚úÖ Libraries loaded successfully!")

‚úÖ Libraries loaded successfully!

## üå°Ô∏è Loading the Data

We have weather data for London during Summer 2024 (June through August).

This dataset includes **temperature** AND **rainfall** because today's classification task needs both variables.

In [3]:
# Load weather data from JSON file
with open('data/london_summer_2024_weather.json', 'r') as f:
    weather_data = json.load(f)

# Extract the data we need
temperatures = weather_data['daily']['temperature_2m_max']
rainfall = weather_data['daily']['rain_sum']
dates = weather_data['daily']['time']

print(f"‚úÖ Loaded {len(dates)} days of summer weather data")
print(f"üìÖ Date range: {dates[0]} to {dates[-1]}")
print(f"üå°Ô∏è  Temperature range: {min(temperatures):.1f}¬∞C to {max(temperatures):.1f}¬∞C")
print(f"üåßÔ∏è  Rainfall range: {min(rainfall):.1f}mm to {max(rainfall):.1f}mm")

‚úÖ Loaded 92 days of summer weather data
üìÖ Date range: 2024-06-01 to 2024-08-31
üå°Ô∏è  Temperature range: 14.6¬∞C to 31.3¬∞C
üåßÔ∏è  Rainfall range: 0.0mm to 23.1mm

## üó∫Ô∏è Today's Challenge: Weather Classification

Your task is to classify each summer day into one of these categories:

| Category | Temperature | Rainfall |
|----------|-------------|----------|
| Hot & Dry | > 25¬∞C | < 1mm |
| Hot & Wet | > 25¬∞C | ‚â• 1mm |
| Mild & Dry | 20-25¬∞C | < 1mm |
| Mild & Wet | 20-25¬∞C | ‚â• 1mm |
| Cool | < 20¬∞C | any |

**The twist:** You'll implement this **twice**:
1. First with NumPy's nested `np.where()` (you'll struggle - that's intentional!)
2. Then with Pandas vectorised operations using named boolean columns (much cleaner!)

---

# Part I: The NumPy Approach (üßë‚Äç‚úàÔ∏è Pilot = First Person)

In this part, you'll try to classify the weather using nested `np.where()` calls.

This is deliberately challenging. The goal is to experience the pain of complex nested conditionals!

## Step 1: Create NumPy Arrays

Create a `dates_array`, a `temps_array` and a `rain_array` for the dates, temperature and rain data, respectively.

In [6]:

dates_array = np.array(dates)
temps_array = np.array(temperatures)
rain_array = np.array(rainfall)

## Step 2: Understanding `np.where()`

Create a `is_hot` array, in which temperatures above or equal 28 are classified as 'Hot'. Otherwise, 'Not Hot'.

Print out the dates per line

In [7]:
is_hot = np.where(
    temps_array >= 28,
    "Hot",
    "Not Hot"
)

**üôã Copilot:** Explain to your pilot what `np.where()` does. How is it different from a regular `if-else` statement?

## Step 3: The Challenge - Nested `np.where()`

Now comes the hard part. You need to classify days based on **BOTH** temperature and rainfall.

**üßë‚Äç‚úàÔ∏è Pilot:** Try to implement the classification logic below. Use the table above as your guide.

**üôã Copilot:** Help your pilot think through the logic. What should the outermost condition check?

In [21]:
# TODO: Implement the nested np.where() classification
# Hint: Start with temperature, then within each temperature category, check rainfall

# Your code here:
weather_type_numpy = np.where(
    temps_array >= 28,
    np.where(
        rain_array >= 1,
        "Hot and Wet",
        "Hot and Dry"
    ),
    np.where(
        temps_array < 20,
        np.where(
            rain_array >= 1,
            "Cool and Wet",
            "Cool and Dry"
        ),
        np.where(
            rain_array >= 1,
            "Not Hot and Wet",
            "Not Hot and Dry"
        )
    )
)
weather_type_numpy

array(['Cool and Dry', 'Not Hot and Dry', 'Cool and Dry', 'Cool and Wet',
       'Cool and Dry', 'Cool and Dry', 'Cool and Dry', 'Cool and Dry',
       'Cool and Dry', 'Cool and Wet', 'Cool and Wet', 'Cool and Wet',
       'Cool and Wet', 'Cool and Wet', 'Cool and Wet', 'Cool and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Cool and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Wet',
       'Not Hot and Dry', 'Not Hot and Dry', 'Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Dry', 'Cool and Dry', 'Cool and Dry', 'Cool and Dry',
       'Cool and Wet', 'Cool and Dry', 'Not Hot and Wet', 'Cool and Wet',
       'Cool and Wet', 'Cool and Wet', 'Cool and Wet', 'Not Hot and Dry',
       'Not Hot and Dry', 'Cool and Dry', 'Cool and Dry',
       'Not Hot and Dry', 'Not Hot and Wet', 'Not Hot and Wet',
       'Not Hot and Dry', 'Not Hot and Dry', 'Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Wet', 'Not Hot and Dry', 'Not Hot and Wet',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Dry', 'Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Wet', 'Not Hot and Wet', 'Not Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Wet',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Wet', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Wet', 'Not Hot and Dry', 'Not Hot and Dry',
       'Cool and Dry', 'Not Hot and Dry', 'Cool and Wet', 'Cool and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry',
       'Not Hot and Dry', 'Not Hot and Dry', 'Not Hot and Dry'],
      dtype='<U15')

## Step 4: Verify Your Results

Print the first 15 summer days with their classification.

Then count how many days fall into each category and show the percentage distribution.

In [71]:
# TODO: Erase this and write your code here.
print("First 15 categories:")
for i in range(15):
    print(f"{dates_array[i]}: {temps_array[i]:>4.1f}¬∞C, {rain_array[i]:>4.1f}mm, {weather_type_numpy[i]:>17}")

First 15 categories:
2024-06-01: 16.5¬∞C,  0.0mm,      Cool and Dry
2024-06-02: 21.6¬∞C,  0.0mm,   Not Hot and Dry
2024-06-03: 19.6¬∞C,  0.3mm,      Cool and Dry
2024-06-04: 19.6¬∞C,  3.7mm,      Cool and Wet
2024-06-05: 15.5¬∞C,  0.0mm,      Cool and Dry
2024-06-06: 16.7¬∞C,  0.1mm,      Cool and Dry
2024-06-07: 18.1¬∞C,  0.1mm,      Cool and Dry
2024-06-08: 17.7¬∞C,  0.6mm,      Cool and Dry
2024-06-09: 16.9¬∞C,  0.0mm,      Cool and Dry
2024-06-10: 14.6¬∞C,  8.0mm,      Cool and Wet
2024-06-11: 15.2¬∞C,  2.0mm,      Cool and Wet
2024-06-12: 15.9¬∞C,  1.0mm,      Cool and Wet
2024-06-13: 15.9¬∞C,  1.6mm,      Cool and Wet
2024-06-14: 18.1¬∞C,  2.5mm,      Cool and Wet
2024-06-15: 17.3¬∞C,  2.5mm,      Cool and Wet

## Step 5: Reflect on the Experience

üôã **Copilot:** Answer these questions together:

1. How easy was it to write the nested `np.where()` code?
2. How easy is it to **read** the code now that it's written?
3. If you needed to add a "Very Hot" category (> 30¬∞C), how hard would that be?
4. Could you debug this code easily if it had a mistake?

Write your thoughts here:

- [*Your reflections here*]

---

# Part II: The Pandas Vectorisation Solution (üôã Copilot = Now the Pilot!)

**‚ö†Ô∏è SWAP ROLES!** The Copilot from Part I is now the Pilot.

In this part, you'll solve the same problem using Pandas DataFrames with vectorised boolean operations. You'll see how breaking down complex logic into named boolean columns makes your code much clearer!

## Step 1: Create a DataFrame

Build a structured DataFrame with three columns: `date`, `temp`, and `rain_mm`.

Then print the shape and first 10 rows.

In [16]:
# TODO: Erase this and write your code here.
weather_df = pd.DataFrame({
    'date': dates,
    'temp': temperatures,
    "rain_mm": rainfall
})
weather_df.head(10)

         date  temp  rain_mm
0  2024-06-01  16.5      0.0
1  2024-06-02  21.6      0.0
2  2024-06-03  19.6      0.3
3  2024-06-04  19.6      3.7
4  2024-06-05  15.5      0.0
5  2024-06-06  16.7      0.1
6  2024-06-07  18.1      0.1
7  2024-06-08  17.7      0.6
8  2024-06-09  16.9      0.0
9  2024-06-10  14.6      8.0

**üôã New Copilot:** What's the advantage of having a DataFrame instead of separate arrays?

## Step 2: Create Boolean Condition Columns

Instead of nesting conditionals, create explicit boolean columns for each condition.

**üßë‚Äç‚úàÔ∏è New Pilot:** Create the following boolean columns:
- `is_hot`: True when temperature > 25¬∞C
- `is_mild`: True when temperature is between 20-25¬∞C (inclusive of 20, exclusive of 25)
- `is_cool`: True when temperature < 20¬∞C
- `is_dry`: True when rainfall < 1mm

Hint: Use `&` for AND between conditions. Remember to use parentheses around each condition!

In [39]:
# TODO: Erase this and write your code here.
weather_df['is_hot'] = weather_df['temp'] >= 25
weather_df['is_mild'] = (weather_df['temp'] < 25) & (weather_df['temp'] >= 20)
weather_df['is_cool'] = weather_df['temp'] < 20
weather_df['is_dry'] = weather_df['rain_mm'] < 1
weather_df.head(15)

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry
0   2024-06-01  16.5      0.0   False    False     True    True
1   2024-06-02  21.6      0.0   False     True    False    True
2   2024-06-03  19.6      0.3   False    False     True    True
3   2024-06-04  19.6      3.7   False    False     True   False
4   2024-06-05  15.5      0.0   False    False     True    True
5   2024-06-06  16.7      0.1   False    False     True    True
6   2024-06-07  18.1      0.1   False    False     True    True
7   2024-06-08  17.7      0.6   False    False     True    True
8   2024-06-09  16.9      0.0   False    False     True    True
9   2024-06-10  14.6      8.0   False    False     True   False
10  2024-06-11  15.2      2.0   False    False     True   False
11  2024-06-12  15.9      1.0   False    False     True   False
12  2024-06-13  15.9      1.6   False    False     True   False
13  2024-06-14  18.1      2.5   False    False     True   False
14  2024-06-15  17.3      2.5   False    False     True   False

**Key insight:** Notice how readable these boolean columns are! Each condition has a clear name. You can inspect each column separately to verify your logic.

## Step 3: Build the Classification Using Boolean Columns

Now use these boolean columns to create the classification. We'll use `np.select()`, which is **new** to you!

**üìñ Learn by reading:** Check the NumPy documentation for `np.select()`:  
[https://numpy.org/doc/stable/reference/generated/numpy.select.html](https://numpy.org/doc/stable/reference/generated/numpy.select.html)

**üßë‚Äç‚úàÔ∏è New Pilot:** Try to decipher the documentation and follow this pattern:

```python
conditions = [
    condition1,
    condition2,
    condition3
]

choices = ['Label1', 'Label2', 'Label3']

weather_df['weather_type'] = np.select(conditions, choices, default='DefaultLabel')
```

Create lists for all five weather categories. Order matters! Put the most specific conditions first.

Hint: Use `~` for NOT (e.g., `~weather_df['is_dry']` means "not dry")

In [43]:
# TODO: Erase this and write your code here.
conditions = [(weather_df['is_dry']) & (weather_df['is_hot']), (~weather_df['is_dry']) & (weather_df['is_hot']),(weather_df['is_dry']) & (weather_df['is_mild']),(~weather_df['is_dry']) & (weather_df['is_mild']),(weather_df['is_dry']) & (weather_df['is_cool']),(~weather_df['is_dry']) & (weather_df['is_cool'])]
choices = ["Hot and dry", "Hot and Wet", "Mild and dry","Mild and Wet", "Cool and dry", "Cool and Wet"]
weather_df['weather_type']=np.select(conditions, choices, 'Default')
weather_df

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
0   2024-06-01  16.5      0.0   False    False     True    True  Cool and dry
1   2024-06-02  21.6      0.0   False     True    False    True  Mild and dry
2   2024-06-03  19.6      0.3   False    False     True    True  Cool and dry
3   2024-06-04  19.6      3.7   False    False     True   False  Cool and Wet
4   2024-06-05  15.5      0.0   False    False     True    True  Cool and dry
..         ...   ...      ...     ...      ...      ...     ...           ...
87  2024-08-27  23.8      0.0   False     True    False    True  Mild and dry
88  2024-08-28  27.1      0.0    True    False    False    True   Hot and dry
89  2024-08-29  21.8      0.0   False     True    False    True  Mild and dry
90  2024-08-30  22.1      0.0   False     True    False    True  Mild and dry
91  2024-08-31  20.8      0.0   False     True    False    True  Mild and dry

[92 rows x 8 columns]

**üôã New Copilot:** Compare this to the nested `np.where()` from Part I. Notice how the conditions and choices line up clearly. Which is easier to read? Which would be easier to debug if there was a mistake?

## Step 4: Verify Results Match NumPy Approach

Compare your Pandas classification with the NumPy classification from Part I.

Check if they match and print the first 15 rows showing both results.

In [65]:
# TODO: Erase this and write your code here.
display(weather_df.head(15))
for i in range(15):
    print(weather_type_numpy[i])

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
0   2024-06-01  16.5      0.0   False    False     True    True  Cool and dry
1   2024-06-02  21.6      0.0   False     True    False    True  Mild and dry
2   2024-06-03  19.6      0.3   False    False     True    True  Cool and dry
3   2024-06-04  19.6      3.7   False    False     True   False  Cool and Wet
4   2024-06-05  15.5      0.0   False    False     True    True  Cool and dry
5   2024-06-06  16.7      0.1   False    False     True    True  Cool and dry
6   2024-06-07  18.1      0.1   False    False     True    True  Cool and dry
7   2024-06-08  17.7      0.6   False    False     True    True  Cool and dry
8   2024-06-09  16.9      0.0   False    False     True    True  Cool and dry
9   2024-06-10  14.6      8.0   False    False     True   False  Cool and Wet
10  2024-06-11  15.2      2.0   False    False     True   False  Cool and Wet
11  2024-06-12  15.9      1.0   False    False     True   False  Cool and Wet
12  2024-06-13  15.9      1.6   False    False     True   False  Cool and Wet
13  2024-06-14  18.1      2.5   False    False     True   False  Cool and Wet
14  2024-06-15  17.3      2.5   False    False     True   False  Cool and Wet

Cool and Dry
Not Hot and Dry
Cool and Dry
Cool and Wet
Cool and Dry
Cool and Dry
Cool and Dry
Cool and Dry
Cool and Dry
Cool and Wet
Cool and Wet
Cool and Wet
Cool and Wet
Cool and Wet
Cool and Wet

## Step 5: Count and Analyse Categories

Count how many days fall into each category and show the percentages.

Then show 3 example days from each category.

In [64]:
# TODO: Erase this and write your code here.
hotdry_df = weather_df[(weather_df['is_hot']) & (weather_df['is_dry'])]
display(hotdry_df.head(3))
hotwet_df = weather_df[(weather_df['is_hot']) & (~weather_df['is_dry'])]
display(hotwet_df.head(3))
milddry_df = weather_df[(weather_df['is_mild']) & (weather_df['is_dry'])]
display(milddry_df.head(3))
mildwet_df = weather_df[(weather_df['is_mild']) & (~weather_df['is_dry'])]
display(mildwet_df.head(3))
cooldry_df = weather_df[(weather_df['is_cool']) & (weather_df['is_dry'])]
display(cooldry_df.head(3))
coolwet_df = weather_df[(weather_df['is_cool']) & (~weather_df['is_dry'])]
display(coolwet_df.head(3))

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry weather_type
23  2024-06-24  26.3      0.0    True    False    False    True  Hot and dry
24  2024-06-25  28.0      0.0    True    False    False    True  Hot and dry
25  2024-06-26  27.9      0.0    True    False    False    True  Hot and dry

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry weather_type
61  2024-08-01  27.1      7.6    True    False    False   False  Hot and Wet
62  2024-08-02  26.1      1.5    True    False    False   False  Hot and Wet

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
1   2024-06-02  21.6      0.0   False     True    False    True  Mild and dry
16  2024-06-17  20.7      0.0   False     True    False    True  Mild and dry
17  2024-06-18  21.0      0.3   False     True    False    True  Mild and dry

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
21  2024-06-22  21.8      1.6   False     True    False   False  Mild and Wet
34  2024-07-05  21.0     23.1   False     True    False   False  Mild and Wet
44  2024-07-15  21.5      7.3   False     True    False   False  Mild and Wet

         date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
0  2024-06-01  16.5      0.0   False    False     True    True  Cool and dry
2  2024-06-03  19.6      0.3   False    False     True    True  Cool and dry
4  2024-06-05  15.5      0.0   False    False     True    True  Cool and dry

          date  temp  rain_mm  is_hot  is_mild  is_cool  is_dry  weather_type
3   2024-06-04  19.6      3.7   False    False     True   False  Cool and Wet
9   2024-06-10  14.6      8.0   False    False     True   False  Cool and Wet
10  2024-06-11  15.2      2.0   False    False     True   False  Cool and Wet

## Step 6: Final Reflection

**Both of you:** Discuss and write down your answers:

1. How did breaking down the logic into named boolean columns help?
2. Which approach (nested `np.where()` vs boolean columns) would you prefer for a real project?
3. What if you needed to add a new variable (like wind speed) to the classification?
4. What if you needed to change the temperature threshold from 25¬∞C to 28¬∞C?

Your thoughts:

- [*Your reflections here*]

---

# Optional Extension: More about `np.select()`

**Why is `np.select()` useful?**

Unlike nested `np.where()`, `np.select()` lets you:
- List all conditions clearly in one place
- Match each condition to its label explicitly
- Add a default value for cases that don't match any condition

**The pattern:**
```python
conditions = [condition1, condition2, condition3]  # List of boolean arrays
choices = ['Label1', 'Label2', 'Label3']           # Corresponding labels
result = np.select(conditions, choices, default='Other')
```

**How it works:**
1. Checks the first condition - if True, assigns first choice
2. If False, checks the second condition - if True, assigns second choice
3. And so on...
4. If none match, assigns the default value

This is why **order matters** - more specific conditions should come first!

---

# Bonus Challenge (If You Have Time)

Try extending the classification to include a humidity dimension!

## Bonus: Add Humidity Classification

Imagine you also had humidity data. Create a new column that marks "Perfect Summer Days" (temperature between 22-28¬∞C AND rainfall < 0.5mm AND humidity < 60%).

Use the boolean column approach you learned in Part II!

In [ ]:
# TODO: Create fake humidity data
# Create a new boolean column for humidity
# Combine multiple boolean columns to identify perfect days

# Your code here:

---

# Summary

Today you experienced:

1. ‚úÖ The difficulty of nested `np.where()` for complex logic (Part I)
2. ‚úÖ How named boolean columns make logic transparent (Part II)
3. ‚úÖ Vectorised operations for efficient data processing
4. ‚úÖ The readability advantage of breaking down complex conditions

**Key Takeaway:** For complex logic, creating named boolean columns in Pandas is almost always clearer and more maintainable than nested NumPy conditionals!

## What's Next?

- **Mini-Project 1** was released yesterday - you now have all the skills you need!
- **Next week (W05):** Advanced data transformations and seaborn visualisation
- **Week 06 (Reading Week):** Focus time to complete Mini-Project 1

Great work today! üéâ